.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.headernav {
  text-decoration: none;
  padding: 1%;
  color: white;
}

.headernav:hover {
  background-color: white;
  color: green;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
  padding: 1%;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}
/* * {
  border:red 1px solid;
} */

#form-body label {
  margin: .5%
}

.headerBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  height: 50vh;
  color: white;
}
.headerBanner h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #190000;
}

/* YourEvents */
.eventButton, #acceptButton, #eventSubmit {
  background-color: green;
}

#declineButton {
  background-color: darkgrey;
}
#declineButton:hover {
  background-color: grey;
}

.eventButton, #acceptButton, #declineButton {
  width: 15%;
  margin: 1% auto;
  border-radius: 5px;
}

.eventButton:hover, #acceptButton:hover, #eventSubmit:hover {
  background-color: darkgreen;
}

#acceptButton, #declineButton {
  margin: 1%;
}

.acceptDeclineButtons {
  margin-bottom: 5%;
}

/* Create Event */
#eventForm, #itemList, #guestList {
  display: flex;
  flex-direction: column;
}

#eventSubmit {
  margin: 2% auto 4%;
  padding: 1% 2%;
  color: white;
  border: none;
  border-radius: 5px;
}
/* 
#listContainer {
  width: 80%;
} */





/* Pushes footer down vvv */
.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 50px;
}