/* * {
  border:red 1px solid;
} */

.App {
  text-align: center;
  text-decoration: none;
}

#mainLogo {
  margin: 0;
  padding: 0;
}
#mainLogo:hover, #footerNav a:hover {
  opacity: 0.7;
  }

.headernav {
  padding: 1%;
  color: white;
}

.headernav:hover {
  background-color: white;
  color: green;
  border-radius: 5px;
}

a:link, a:visited {
  text-decoration: none;
  padding: 1%;
  color: white;
}

#form-body label {
  margin: .5%
}

.headerBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  height: 40vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerBanner h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px #190000;
}

/* YourEvents */
.yourEvents h3 {
  margin-bottom: 0;
}

#openInvitations #tagline {
  margin: 1% auto 0;
}

.eventButton, #acceptButton, #eventSubmit, #editEventButton, #confirm {
  background-color: green;
}

#declineButton, #cancel {
  background-color: darkgrey;
}
#declineButton:hover, #cancel:hover {
  background-color: grey;
}

.eventButton, #acceptButton, #declineButton, #editEventButton {
  margin: 1% auto;
  border-radius: 5px;
}

#acceptButton, #declineButton {
  margin: 1%;
}

.eventButton:hover, #acceptButton:hover, #eventSubmit:hover, #editEventButton:hover, #confirm:hover {
  background-color: darkgreen;
}

.yourEventButtons {
  display: flex;
  flex-direction: column;
}

.yourEventButtons a {
  padding: 5px;
}

.topP {
  margin-top: 0;
}

.bottomP {
  margin-bottom: 0;
}

/* Create Event */
#createTagline {
  margin: 2% 5% 3%;
}

#itemList, #guestList {
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: left;
  margin-bottom: 3%;
}

#eventSubmit {
  margin: 8% auto 4%;
  padding: 1% 2%;
  color: white;
  border: none;
  border-radius: 5px;
}

#listContainer {
  width: 60%;
  margin: 0 5%;
}

#formContent {
  display: flex;
}

.DTL h4 {
  margin: 0 0 2%;
}

.DTL label {
  margin: 1% 0;
}

#listContainer h4 {
  margin: 0;
}
#listContainer p {
  margin: 1% 0 2%;
}

#note {
  font-size: .9rem;
}





/* Pushes footer down vvv */
.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 30px;
}